@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');


input[type="checkbox"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
h1{
    color: #2596BE;
}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color:whitesmoke;
    font-size: large;
}
#email ,#phone
{
    width: 100vh;
}
input[type='text'], input[type='email'], input[type='tel']
{
    width: 50vh;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
}
.option
{
    font-family: 'Poppins', sans-serif;
    padding-left: 60vh;
    text-align: left;
    background-color:antiquewhite;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cover-option
{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 2rem;
}
.wish
{
    font-weight: bolder;
    font-size: 1.5rem;
}
button
{
    padding: 1rem;
    /* background-color: rgb(37, 150, 190); */
    background-color: #2596BE;
    border-radius: 1rem;
}